/.devcontainer/
/.idea/
/.slcache/
/.slcache-old/
/target/
/target-old/
/target-old2/
/out/
output/
/test/reports/
/lib/third-party/
/web-app/plugins
/web-app/WEB-INF/classes
.classpath
*.DS_Store
.project
.settings
.my*
*.iml
*.iws
*.ipr


grails-app/conf/global.mturk.properties